.stories {
    grid-column: 1 / 2;
    width: 100%;
    min-height: 180px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px silver;
}

.h3 {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
    color: silver;

    border-bottom: 1px solid silver;
    margin-left: 10px;
    margin-right: 10px;
}
