.avatar_menu {
    margin-top: 12px;
}

.item {
    width: 225px;
    height: 30px;
    cursor: pointer;
    
}

.link {
    width: 100%;
    color: slategray;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 15px;
}

.item:hover {
    background: #aeb7c21f;
}