.info_page {
    grid-column: 2 / 3;
    border-radius: 4px;
    background: #fff;
    width: 545px;
    max-height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px silver;
}






