.user_name_dialog {
    grid-column: 1 / 2;
}

.item {
    display: block;
    padding-left: 15px;
    cursor: pointer;
}

.item:hover {
    background: red;
}

.link {
    text-decoration: none;
    color: #000;
}