.navbar {
    grid-column: 1 / 2;
    height: 90vh;
    width: auto;
    margin-left: 280px;
}


.item:hover {
    background: #aeb7c21f;
    border-radius: 4px;
}



.link {
    display: flex;
    color: black;
    align-items: center;
    border-radius: 4px;
    line-height: 15.002px;
    padding: 7px 6px;
    font-size: 16px;
    text-decoration: none;
    
}


.icon {
    color:#5181b8;
    font-size: 18px;
    padding-right: 10px;
}