.add_post {
    grid-column: 1 / 2;
    min-height: 10px;
}

.area {
    width: 525px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 4px;
    background: #fff;

    overflow: auto;
    outline: none;
    resize: none;
}