.messenger {
    background: #edeef0;
}

.input {
    width: 97.5%;
    height: 45px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 0 0 3px silver;
}

.dialog_window {
    display: grid;
    grid-template-columns: 3fr 9fr;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    min-height: 150px;
    box-shadow: 0 0 3px silver;

    margin-top: 10px;
}
