.search {
    width: 245px;
    height: 48px;


    
    display: flex;
    font-size: 12.5px;
    line-height: 14.425px;
    padding: 0px 15px 0px 0px;
}

.input {
    height: 32px;
    width: 230px;
    background-color: #edeef0;
    background-position: 10px 50%;
    border-radius: 8px;
    display: inline-block;
    font-size: 13px;
    line-height: 28px;
    padding: 0px 0px 0px 34px;
}