.wrapper {
    display: grid;
    grid-template-columns: repeat(4 , 2fr);
    grid-gap: 17px;
    background: #edeef0;
}


.add-wrapper-app {
    grid-column: 2 / 5;
    height: 90vh;
    width: auto;
    background:#ffffff;
    margin-right: 280px;
    border-radius: 3px;
}